<!--heredamos lo que tenemos en base.html-->
{% extends 'base.html' %} 

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">REDOTEC APP</h1>
        <p>
            Redes, Domótica y Tecnología (REDOTEC) es una empresa 100% mexicana fundada con el propósito de ofrecer soluciones tecnológicas integrales adaptadas a las necesidades de sus clientes. Desde su creación, ha reunido a un equipo de profesionistas capacitados y en constante actualización, lo que le ha permitido consolidarse como un referente en servicios tecnológicos como videovigilancia, control de acceso, cableado estructurado y desarrollo de sistemas personalizados.
        </p>
        

        <!--
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Iniciar Sesión
            </a>
        </div>
        -->
    </section>
</main>

{% endblock %}
